<a href="https://colab.research.google.com/github/priyanshigarg17/datascience/blob/main/pythonclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if(True):
  print("hello")

hello

In [ ]:
age=1
if(age>10):
  print('my age is less than 1')
else:
  print('hhy')

hhy

In [ ]:
age=21
if(age>5 and age<20):
  print('regex')
else:
  print('priyanshi')

priyanshi

In [ ]:
num=6
if(num%2==0 and num%5==0):
  print('number is divisible by 5')
else:
  ('number is not divisible by 5')

In [ ]:
age=16
if(age==16):
  print("age is 16")
elif(age==18):
  print('age is 18')
else:
  print('age is not 18 or 16')

age is 16

In [ ]:
num=10
if(num%2==0):
  print('number is divided by 2')
elif(num%5==0):
  print('number is divided by 5')
else:
  print('number is not divided by both')

number is divided by 2

In [ ]:
num=4
num2= 3
num3 =1
if(num<num2 and num<num3):
  print('num is smallest')
elif(num2<num and num2<num3):
  print('num2 is smallest')
else:
  print('num3 is smallest')

num3 is smallest

In [ ]:
age=55
if(age>10 and age<24):
  print('adult')
elif(age>24 and age<35):
  print('young')
elif(age>35 and age<60):
  print('married')
elif(age>60):
  print('senior citizen')
else:
  print('child')

married

In [ ]:
age=55
if(age>60):
  print('senior citizen')
elif(age>35):
  print('married')
elif(age>24):
  print('young')
elif(age>10):
  print('adult')
else:
  print('child')

married

In [ ]:
age=12
if(age>10):
  print('age is greater than 10')
  if(age>15):
   print('age is greater than 10 and 15')
else:
  print('age is smaller than 10')

age is greater than 10

In [ ]:
num=16
if(num%2==0):
  if(num%5==0):
    print('number is divided by 2 and 5')
  else:
      print('number is divided by 2')
else:
  print('not divided by both')

number is divided by 2

In [ ]:
age=30
if(age>18):
  if(age>25):
    print('he is eligible for marriage and voting')
  else:
      print('eligible for voting')
else:
  print('condition not satisfied')

he is eligible for marriage and voting

In [ ]:
num=int(input('n='))
if (num % 2 == 0):
    print("n is even.")
else:
    print("n is odd.")

n=4
n is even.

In [ ]:
num=int(input('number 1='))
num2=int(input('number 2='))
num3=int(input('number 3='))
if(num>num2 and num>num3):
  print('num is largest')
elif(num2>num and num2>num3):
  print("num2 is largest")
else:
  print("num3 is largest")

number 1=5
number 2=3
number 3=7
num3 is largest

In [ ]:
year = 2098
if(year%4==0 and year%100!=0) or (year%400==0):
  print("year is leap year")
else:
  print("year is not leap year")

year is not leap year

In [ ]:
num=int(input("percentage = "))
if(num>= 90):
  print("grade a")
elif(num>=80 and num<=90):
  print("grade b")
elif(num>=70 and num<=80):
  print("grade c")
elif(num>=60 and num<=70):
  print("grade d")
else:
  print("grade f")

percentage = 76
grade c

In [ ]:
letter=input("enter a character: ")
if(letter == 'a' or letter == 'e' or letter == 'i' or letter == 'o' or letter == 'u'):
  print("letter is vowel")
else:
  print("letter is consonant")

enter a character: r
letter is consonant

In [ ]:
num1 = float(input("Enter the first number: "))
operator = input("Enter an operator: ")
num2 = float(input("Enter the second number: "))
if(operator == '+'):
    result = num1 + num2
    print(f"{result}")
elif(operator == '-'):
    result = num1 - num2
    print(f"{result}")
elif(operator == '*'):
    result = num1 * num2
    print(f"{result}")
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
        print(f"{result}")
    else:
        print("error")
else:
    print("not supported")

Enter the first number: 8
Enter an operator: -
Enter the second number: 6
2.0

In [ ]:
number=int(input("enter a number: "))
if(number>0):
    print("The number is positive.")
elif(number<0):
    print("The number is negative.")
else:
    print("The number is zero.")

enter a number: 5
The number is positive.

In [ ]:
price=int(input("enter a price: "))
if(price>1000):
  print("discount is 10%")
elif(price>500 and price<1000):
  print("discount is 5%")
else:
  print("no discount")

enter a price: 4589
discount is 10%

In [ ]:
username = input("write a username: ")
password = int(input("enter a password: "))
if(username=="admin" and password=="1234"):
  print("login successful")
else:
  print("login failed")

write a username: admin
enter a password: 1234
login failed

In [ ]:
for i in range(0,5):
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
for i in range(0,5):
  print("hello", i)

hello 0
hello 1
hello 2
hello 3
hello 4

In [ ]:
for i in range(2,6):
  print("hello", i)

hello 2
hello 3
hello 4
hello 5

In [ ]:
for i in range(6,2, -1):
  print("hello", i)

hello 6
hello 5
hello 4
hello 3

In [ ]:
 total=0
for i in range(1, 8):
  total+=i
  print(total, i)

1 1
3 2
6 3
10 4
15 5
21 6
28 7

In [ ]:
total=0
for i in range(11, 50):
  total+=i
  print(total)

11
23
36
50
65
81
98
116
135
155
176
198
221
245
270
296
323
351
380
410
441
473
506
540
575
611
648
686
725
765
806
848
891
935
980
1026
1073
1121
1170

In [ ]:
total=0
for i in range(97, 47, -1):
  total+=i
print(total)

3625

In [ ]:
for i in range(1, 8):
  if(i%2==0):
    print("even", i)

even 2
even 4
even 6

In [ ]:
for i in range(55, 37, -1):
  if(i%2==0 and i%5==0):
    print(i)

50
40

In [ ]:
count=0
for i in range(2, 40):
  if(i%4==0):
    count+=1
print(count)

9

In [ ]:
num=9
#factors of number 8
for i in range(1,10):
  if(num%i==0):
    print(i)

1
3
9

In [ ]:
num=16
#factors of number 16
factors=0
for i in range(1,17):
  if(num%i==0):
    factors+=1
if(factors>4):
  print("yes")
else:
  print("no")

yes

In [ ]:
data="hey"
for i in range(0, 3):
  print(i, data[i])

0 h
1 e
2 y

In [ ]:
data="hello" #data[]
#len= length of data
for i in range(0, len(data)):
  print(data[i])

h
e
l
l
o

In [ ]:
data="hello" #data[]
count=0
#len= length of data
for i in range(0, len(data)):
  if(data[i]=="a" or data[i]=="e" or data[i]=="i" or data[i]=="o" or data[i]=="u"):
    count+=1
print(count)

2

In [ ]:
data="hello" #data[]
count=0
#len= length of data
for i in range(0, len(data)):
  #membership operator
  if(data[i] in "aeiou"):
    count+=1
print(count)

2

In [ ]:
#7

In [ ]:
#to check number is prime number
num=8
factors=0
for i in range(1,9):
  if(num%i==0):
    factors+=1
if(factors>2):
  print("no prime number")
else:
  print("yes")

no prime number

In [ ]:
#alternate of above solution
num=7
factors=0
for i in range(1,num+1):
  if(num%i==0):
    factors+=1
if(factors>2):
  print("no prime number")
else:
  print("yes")

yes

In [ ]:
# 2 alternate of above solution
#break
for i in range(1,6):
  print(i)
  break
print("outside loop")

1
outside loop

In [ ]:
for i in range(1,6):
  if(i==4):
     break
  print(i)

print("outside loop")

1
2
3
outside loop

In [ ]:
# prime number with break
num=13
a=0  #indicator variable to check the condition is true or not
for i in range(2, num):
  if(num%i==0):
    a=1
    break

if(a==1):
  print("not prime")
else:
  print("prime")

In [ ]:
num=8
if(num%2==0 and num%3==0 and num%6==0):
  print("true")
else:
  print("false")

false

In [ ]:
num=9
a=0  #indicator variable to check the condition is true or not
if(num%2==0 and num%3==0 and num%6==0):
    a=1
if(a==1):
  print("true")
else:
  print("false")

false

In [ ]:
marks=int(input("enter marks"))
if(marks>=90):
    print("Grade A")
elif(80 < marks < 89):
    print("B")
elif(70 < marks < 79):
    print("c")
elif(60 < marks < 69):
    print("d")
elif(marks<60):
    print("Fail")
else:
    ("error")

enter marks56
Fail

In [ ]:
A=int(input("enter a "))
B=int(input("enter b "))
C=int(input("enter c "))
if(A==B==C):
  print("equilateral")
elif(A==B or B==C or C==A):
  print("Isoceles")
elif(A!=B!=C):
  print("Scalene")
elif(A+B<C or A+C<B or B+C<A):
  print("Not a triangle")

In [ ]:
# prime number with break
num=8
a=0  #indicator variable to check the condition is true or not
for i in range(2, num):
  if(num%i==0):
    a=1
    break

if(a==1):
  print("not prime")
else:
  print("prime")

not prime

In [ ]:
#factors and prime number from this method
num=8
count=0 #count
for i in range(1, num+1):
  if(num%i==0):
    count+=1
print(count)
if(count>2):
  print("not a prime")
else:
  print("prime")

4
not a prime

In [ ]:
#while loop ---> repetitive
# iteration (x)
'''
for i in range(1,11)

i=1
while(conditions <==true):
  statement

'''

In [ ]:
i=1
while(i<11):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#sum of numbers 2 to n where n is 11
i=2
sum=0
while(i<11):
  sum+=i
  i+=1
print(sum)

54

In [ ]:
#sum of reverse numbers and odd numbers
i=98
sum=0
while(i>57):
  if(i%2!=0):
    sum+=i
  i-=1
print(sum)

1560

In [ ]:
i=2
sum=0
count=0
average=1
while(i<441):
  count+=1
  sum+=i
  i+=1
print(sum)
print(count)
average=sum//count
print(average)

97019
439
221

In [ ]:
#break, continue, and pass
for i in range(1,5):
  if(i==3):
    break
  print(i)

print("outside loop")

1
2
outside loop

In [ ]:
#break, continue, and pass
for i in range(1,5):
  if(i==3):
    continue
  print(i)

print("outside loop")
#continue= is to skip that particular task like here is 3

1
2
4
outside loop

In [ ]:
sum=0
for i in range(40, 97):
  if(i%2!=0 and i%3!=0):
    sum+=i
print(sum)
#wrongggg

1283

In [ ]:
sum=0
for i in range(40, 97):
  if(i%2==0 and i%3==0):
    continue
  sum+=i
print(sum)

3186

In [ ]:
#run a while loop and count those value which are even and also divisibld by 6
i=1
while(i<101):
  if(i%2==0 and i%6==0):
    i+=1
    print(i)

In [ ]:
#run a while loop and count those value which are even and also divisibld by 6
i=1
while(i<101):
  if(i%2==0 and i%6==0):
    print(i)
  i+=1

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [ ]:
i=1
count=0
while(i<101):
  if(i%2==0 and i%6==0):
    count+=1
    print(count, i)
  i+=1

1 6
2 12
3 18
4 24
5 30
6 36
7 42
8 48
9 54
10 60
11 66
12 72
13 78
14 84
15 90
16 96

In [ ]:
num=8
count=0 #count
for i in range(1, num+1):
  if(num%i==0):
    count+=1
print(count)
if(count>2):
  print("not a prime")
else:
  print("prime")

4
not a prime

In [ ]:
num=9
i=1
a=0
while(i<4):
  if(num%i==0):
    a=1
    break
  i+=1
if(a==1):
  print("not prime")
else:
  print("prime")

not prime

In [ ]:
#Nested loops
for i in range(1, 3):
  print("----student", i)

  for j in range(1,4):
    print("subject", j)

----student 1
subject 1
subject 2
subject 3
----student 2
subject 1
subject 2
subject 3

In [ ]:
#Nested loops -reverse
for i in range(1, 3):
  print("----student", i)

  for j in range(4,1,-1):
    print("subject", j)

----student 1
subject 4
subject 3
subject 2
----student 2
subject 4
subject 3
subject 2

In [ ]:
#Nested loops --
for i in range(1, 5):
  print("----student", i)

  for j in range(1,i+1):
    print("subject", j)

----student 1
subject 1
----student 2
subject 1
subject 2
----student 3
subject 1
subject 2
subject 3
----student 4
subject 1
subject 2
subject 3
subject 4

In [ ]:
for i in range(1, 5):
  print("----student", i)

  for j in range(i, 0, -1):
    print("subject", j)

----student 1
subject 1
----student 2
subject 2
subject 1
----student 3
subject 3
subject 2
subject 1
----student 4
subject 4
subject 3
subject 2
subject 1

In [ ]:
for i in range(1, 5):
  print("----student", i)

  for j in range(i,5):
    print("subject", j)

----student 1
subject 1
subject 2
subject 3
subject 4
----student 2
subject 2
subject 3
subject 4
----student 3
subject 3
subject 4
----student 4
subject 4

In [ ]:
for i in range(1, 5):
  print("----student", i)

  for j in range(5,i,-1):
    print("subject", j)

----student 1
subject 5
subject 4
subject 3
subject 2
----student 2
subject 5
subject 4
subject 3
----student 3
subject 5
subject 4
----student 4
subject 5

In [ ]:
#to print same subject value means starting from 1
for i in range(1, 5):
  print("----student", i)

  for j in range(1, 6-i):
    print("subject", j)

----student 1
subject 1
subject 2
subject 3
subject 4
----student 2
subject 1
subject 2
subject 3
----student 3
subject 1
subject 2
----student 4
subject 1

In [ ]:
for i in range(10,14):
  print("---student", i)

  for j in range(1, 5):
    print("subject", j)

---student 10
subject 1
subject 2
subject 3
subject 4
---student 11
subject 1
subject 2
subject 3
subject 4
---student 12
subject 1
subject 2
subject 3
subject 4
---student 13
subject 1
subject 2
subject 3
subject 4

In [ ]:
x=0
for i in range(10,14):
  print("---student", i)

  for j in range(1, 7-x):
    print("subject", j)
  x+=2

---student 10
subject 1
subject 2
subject 3
subject 4
subject 5
subject 6
---student 11
subject 1
subject 2
subject 3
subject 4
---student 12
subject 1
subject 2
---student 13

In [ ]:
#to print same subject value means starting from 1
for i in range(1, 5):
  print("----student", i)

  for j in range(1, 6-i):
    print("subject", j)

----student 1
subject 1
subject 2
subject 3
subject 4
----student 2
subject 1
subject 2
subject 3
----student 3
subject 1
subject 2
----student 4
subject 1

In [ ]:
n=3
for i in range(1, 11):
  table=n*i
  print(f"{n}*{i}={table}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [ ]:
#print table from 2 to 5
for n in range(2,5):
  print(n)
  for i in range(1, 11):
    table=n*i
    print(f"{n}*{i}={table}")

2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
for n in range(2, 20):
  print("---", n)
  for i in range(1, n+1):
   if(n%i==0):
    print(i)
  print("----")

--- 2
1
2
----
--- 3
1
3
----
--- 4
1
2
4
----
--- 5
1
5
----
--- 6
1
2
3
6
----
--- 7
1
7
----
--- 8
1
2
4
8
----
--- 9
1
3
9
----
--- 10
1
2
5
10
----
--- 11
1
11
----
--- 12
1
2
3
4
6
12
----
--- 13
1
13
----
--- 14
1
2
7
14
----
--- 15
1
3
5
15
----
--- 16
1
2
4
8
16
----
--- 17
1
17
----
--- 18
1
2
3
6
9
18
----
--- 19
1
19
----

In [ ]:
#take a number or check whether a number is prime or not
a=0
for j in range(3, 41):
  for i in range(2, j):
    if(j%i==0):
      a=1
      break
if(a==0):
  print(i)
else:
  print("not prime")

not prime

In [ ]:
for n in range(3, 41):
  a=0
  for i in range(2,n):
    if(n%i==0):
      a=1
      break
  if(a==0):
    print(n, end=" ")

3 5 7 11 13 17 19 23 29 31 37

In [ ]:
num = 154
a=num
#1*33+ 5*33+ 3*33
total=0
while(num>0):
  rem=num%10
  num=num//10
  total=total+rem**3
  #print(rem, rem**3, total)

if(total==a):
  print("armstrong number")
else:
  print("not armstrong")

not armstrong

In [ ]:
#print armstrong from 1 to n
for num in range(150, 401):
  a=num
  #1*33+ 5*33+ 3*33
  total=0
  while(num>0):
    rem=num%10
    num=num//10
    total=total+rem**3
    #print(rem, rem**3, total)

  if(total==a):
    print("armstrong number", a)

armstrong number 153
armstrong number 370
armstrong number 371

In [ ]:
#patterns
for i in range(1, 5):
  print("...student...", i)
  for j in range(1, 5):
    print("student",j, end=" ")
  print("") #to print next student in next line

...student... 1
student 1 student 2 student 3 student 4
...student... 2
student 1 student 2 student 3 student 4
...student... 3
student 1 student 2 student 3 student 4
...student... 4
student 1 student 2 student 3 student 4

In [ ]:
#patterns
for i in range(1, 5):
  for j in range(1, 5):
    print("*", end=" ")
  print("") #to change the line

* * * *
* * * *
* * * *
* * * *

In [ ]:
#patterns
for i in range(1, 5):
  for j in range(1, 4):
    print("*", end=" ")
  print("")

* * *
* * *
* * *
* * *

In [ ]:
#patterns
for i in range(1, 4):
  for j in range(1, 5):
    print(i, end=" ")
  print("")

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
#patterns
for i in range(1, 6):
  for j in range(1, 5):
    print(j, end=" ")
  print("")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
#patterns
for i in range(8, 4, -1):
  for j in range(1, 5):
    print(i, end=" ")
  print("")

8 8 8 8
7 7 7 7
6 6 6 6
5 5 5 5

In [ ]:
#patterns 4
x=1
for i in range(1, 4):
  for j in range(1, 4,):


    print(x, end=" ")
    x+=1

  print("")

1 2 3
4 5 6
7 8 9

In [ ]:
#patterns
for i in range(1, 3):
  for j in range(65, 68):
    print(chr(j), end=" ")
  print("")

A B C
A B C

In [ ]:
#patterns
for i in range(1, 5):
  for j in range(1, i+1):
    print("*", end=" ")
  print("") #to change the line

*
* *
* * *
* * * *

In [ ]:
#patterns
x=1
for i in range(1, 5):
  for j in range(1, i+1):
    print(x, end=" ")
    x+=1
  print("") #to change the line

1
2 3
4 5 6
7 8 9 10

In [ ]:
#patterns
for i in range(8, 4, -1):
  for j in range(1, 10-i):
    print(i, end=" ")
  print("")

8
7 7
6 6 6
5 5 5 5

In [ ]:
#patterns
for i in range(1, 5):
  for j in range(1, i+1):
    if(j%2==0):
     print("0", end="")
    else:
      print("1", end="")
  print("") #to change the line

1
10
101
1010

In [ ]:
#patterns
for i in range(1, 5):
  for j in range(1, i+1):
    print("*", end=" ")
  print("") #to change the line

*
* *
* * *
* * * *

In [ ]:
#patterns
x=5
for i in range(x, 0, -1):
  for j in range(1, i+1):
    print("*", end=" ")
  print("") #to change the line

* * * * *
* * * *
* * *
* *
*

In [ ]:
#patterns
for i in range(1, 6):
  for j in range(i, 6):
    print("*", end=" ")
  print("") #to change the line

* * * * *
* * * *
* * *
* *
*

In [ ]:
#patterns
for i in range(1, 5):
  for j in range(i, 4):
    print("-", end=" ")
  for j in range(1, i+1):
    print("*", end=" ")
  print("") #to change the line

- - - *
- - * *
- * * *
* * * *